<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Toko Admin </title>
    <meta name="description" content="">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="{{ asset('bundles/cms/css/app.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>
<body>
<div class="main-wrapper">
    <div class="error-page">
        <header class="header">
            <div class="logo">
                <img src="{{ asset('bundles/cms/img/logo2.jpg') }}" class="img-responsive">
            </div>
        </header>
        <div class="sidebar-overlay" id="sidebar-overlay"></div>
        <article class="content">
            <div class="col-md-12">
                <div class="panel">
                    <div class="page-error">
                        {% set localeError = app.session.get('locale') %}
                        {% if localeError == 'vi' %}
                            <div class="hgroup">
                                <h1>Rất tiếc, không tìm thấy trang</h1>
                            </div>
                            <p>Trang này không tồn tại hoặc bị lỗi do đường dẫn không chính xác. <br> Bạn vui lòng kiểm tra lại đường dẫn và thử lại.</p>
                            <p><a href="{{ path('admin_dashboard') }}">« Quay trở lại trang chủ</a></p>
                        {% elseif localeError == 'en' %}
                            <div class="hgroup">
                                <h1>Error ! <span>Page not found</span></h1>
                            </div>
                            <p>For some reasons the page you requested could not be found on our server</p>
                            <p><a href="{{ path('admin_dashboard') }}">« Go Home</a></p>
                        {% endif %}

                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
</body>
</html>